.biggest {

    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}

body {
    font-family: 'Poppins', sans-serif;

}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}

.unused {
    font-family: 'Finlandica', sans-serif;
}

.flex-contain {
    display: flex;

}

#stylee {
    color: rgb(119, 50, 119);
}

.half-width {
    width: 50%;
    margin: 50px;

}

.half-width img {
    width: 100%;
}

.mar-bott {
    padding-left: 30px;
}

.orange-color {
    color: orange;
}

.link-button {
    border: 2px solid orange;
    background-image: -moz-linear-gradient(orange, tomato);
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 7px;

    text-decoration: none;
}

.border {
    border: 2px solid orange;
}

.top-corner {

    background-image: url(../Images/top-banner.png);
    background-repeat: no-repeat;
}

.side-corner {
    background-image: url(../Images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 300px;
}

.shadow-margin {
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px rgb(72, 28, 114);
}

#baby-web-dev {
    padding: 50px;
    border-left: 8px solid blue;
}

#full-stack-web-dev {
    padding: 50px;
    border-left: 8px solid red;
}

.experience-img {
    background-image: url(../Images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: 150px;
}

.text-size {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}

#text-center {
    text-align: center;
}